@import 'src/index.scss';

#matricula {
    .content-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.banner-form {
    @include elem-size( 100%, 900px );
    display: flex;
    position: relative;
    z-index: 1;

    @media (min-width: 768px) {
        height: calc(100vh - var(--header-height));
    }
}

.offeredEducation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px 10px;

    .image_container {
        width: 100%;
        max-height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .article_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 1.5rem;
        }
    }

    @media (min-width: 1024px) {
        flex-direction: row;
        padding: 5vh 10px;
        
        .image_container {
            width: 50%;
            height: 400px;
            max-height: none;
        }
    
        .article_container {
            width: 50%;
            padding: 1.75rem;
        }
    }
}

.morePropEdu {
    width: 100%;
    padding: 50px 0;
    background-color: var(--yellow);
    @include elem-flex( center, center);
    color: white;

    .morePropEdu_container {
        @include elem-flex( center, center);
        flex-direction: column;
        gap: 40px;
    }

    h1 {
        font-size: 1.75rem;
        text-align: center;
    }

    .proposal-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1.5rem;
        font-size: 1.25rem;
        font-weight: 600;

        li {
            display: flex;
            align-items: center;
            gap: 1rem;

            i {
                font-size: 2rem;
                display: flex;
            }
        }
    }

    .btn-see_more {
        width: 250px;
        height: 50px;
        gap: 1.5rem;
        transition-duration: 0.75s;

        &:hover {
            &>i {
                animation-name: arrow-move;
                animation-duration: 1s;
                animation-iteration-count: infinite;
            }
        }

        @keyframes arrow-move {
            0% {transform: translateX(0.5rem);}
            50% {transform: translateX(-0.5rem);}
            100% {transform: translateX(0.5rem);}
        }
    }

    @media (min-width: 1024px) {
        .proposal-list {
            flex-direction: row;
            justify-content: center;
            gap: 4rem;
        }
    }
}

.btn-see_more {
    @include btn-002(var(--red), true);
}

.moreAbout {
    @include elem-flex(center, center);
    flex-direction: column;
    padding: 50px 0;
    gap: 2rem;

    h1 {
        font-size: 2rem;
        color: #666;
    }

    p {
        text-align: justify;
    }

    .containerItems {
        @include elem-flex(center);
        gap: 1.5rem;
    }
}

.card-ofered {
    width: 300px;
    @include elem-flex(center, center);
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    transition-duration: 0.4s;
    padding: 25px;
    font-size: 0.9rem;
    border-radius: 10px;

    .img-frame {
        width: 150px;
        @include elem-flex(center, center);
        aspect-ratio: 1;
        border-radius: 100%;
        background-color: aliceblue;
        overflow: hidden;

        img {
            height: 150px;
            object-fit: contain;
        }
    }

    h2 {
        color: #333;
        font-size: 1.2rem;
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.50);
    }
}