@mixin rotate-animation(
    $endPoint: 360deg, $duration: 3s, $iteration: infinite, $timing: linear
) {
    animation-name: rotate;
    animation-duration: $duration;
    animation-iteration-count: $iteration;
    animation-timing-function: $timing;

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate($endPoint);
        }
    }
}

@mixin shake-animation(
    $duration: 0.15s, $iteration: 2.5, $timing: linear
) {
    animation-name: shake;
    animation-duration: $duration;
    animation-iteration-count: $iteration;
    animation-timing-function: $timing;

    @keyframes shake {
        0% {transform: rotate(0deg);}
        25% {transform: rotate(-10deg);}
        50% {transform: rotate(0deg);}
        75% {transform: rotate(10deg);}
        100% {transform: rotate(0deg);}
    }
}