:root {
    /* --- Colors ---*/
    /* background */
    --blue: #4285F4;
    --green: #34A853;
    --yellow: #FBBC05;
    --red: #EA4335;
    --lightGray01: #eeeeee;
    --lightGray02: #bbb;

    /* text */
    --darkText: #303030;
    --mediumText: #606060;
    --lightText: #909090;

    /* size */
    --header-height: 70px;
}