@import 'src/index.scss';

#misionVision {
    width: 100%;

    #presentation_banner {
        width: 100%;
        height: calc(50vh);
        min-height: 400px;
        background-position: center 40%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;

        h1 {
            font-size: 3rem;
            filter: drop-shadow(0 0.25rem 2px rgba(black, 0.5));
        }

        p {
            width: 90%;
            max-width: 800px;
            font-weight: 500;
        }
    }
    
    .values_sect {
        width: 100%;
        background-color: var(--red);
        color: white;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        text-align: center;

        .values_container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 25px;

            .value_container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                .value_icon {
                    width: 100px;
                    height: 100px;
                    border-radius: 100%;
                    border: solid white 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                i {
                    width: 50px;
                    height: 50px;
                    font-size: 50px;
                }
            }
        }
    }

    .objectives_sect {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 50px 10px;
        position: relative;
        overflow: hidden;

        header {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            color: #333;

            h1 {
                font-size: 3.5rem;
                color: #555;
            }

            b {font-size: 1.5rem;}
        }

        &>p {
            width: 90%;
            max-width: 1000px;
            min-width: 300px;
        }

        .objective_cardContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .objective_card {
            width: 100%;
            max-width: 400px;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            padding: 10px;
            background-color: #fff;
            border-radius: 10px;
            @include card-shadow();

            .objective_logo {
                width: 100%;
                height: 200px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;

                i {
                    width: 100px;
                    height: 100px;
                    font-size: 100px;
                }
            }

            .mision_icon {
                background-color: var(--green);
            }

            .vision_icon {
                background-color: var(--yellow);
            }

            .objective_content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                align-content: flex-end;
                gap: 1rem;
                padding: 0 10px;

                p {
                    color: #333;
                }
            }

            .mision_content {
                h1 {
                    color: var(--green);
                }
            }

            .vision_content {
                h1 {
                    color: var(--yellow);
                }
            }
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            background-image: url('../../../../assets/imgs/backgrounds/bg_section_v2.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            transform: rotate(180deg);
        }

        .bg_section {
            width: 100%;
            position: absolute;
            display: flex;
            top: 0;
            z-index: -1;

            .bg_left {
                transform: scaleX(-1) translateX(50%) translateY(-20%) rotate(-90deg);
            }

            .bg_rigth {
                transform: translateX(50%) translateY(-20%) rotate(-90deg);
            }
        }
    }

    @media (min-width: 768px) {
        .values_sect {
            .values_container {
                max-width: 800px;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .objectives_sect {
            .objective_cardContainer {
                flex-direction: row;
                gap: 50px;
            }

            .objective_card {}
        }
    }

    @media (min-width: 1024px) {
        
    }
}