.header {
    background-color: #4285F4;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

/* Logo Section */
.logo {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 300px;
    border-radius: 0 0 100px 0;
}

.logo-img {
    margin-left: 10%;
}

.logo-text {
    margin-left: 5%;
    font-family: Amaranth;
    font-size: 20px;
}

/* Nav Section */
.nav, .nav-links, .main-links>li {
    display: flex;
    align-items: center;
}

.nav {
    justify-content: flex-end;
    color: #fff;
    width: 850px;
    font-family: Anek Devanagari;
}

.nav-links {
    width: 600px;
    justify-content: center;
    box-sizing: border-box;
}

.main-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 560px;
    height: 80px;
    margin: 0;
    padding: 0;
}

.main-links>li {
    justify-content: center;
}

.main-links>li a {
    color: #fff;
    text-decoration: none;
    text-align:center;
}

.main-links>li:hover>a, .onIt {
    border-bottom: #fff 2px solid;
}

/* Sub-Nav Section */
li:hover>.sub-nav {
    visibility: visible;
    z-index: 10;
}

.sub-nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #595959;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    visibility: hidden;
    list-style-type: none;
    top: 65px;
    border-radius: 5px;
    padding: 10px;
}

.sub-nav::before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    top: -10px;
    align-self: center;
}

.sub-nav img {
    height: 20px;
    filter: invert(34%)
            sepia(21%)
            saturate(30%)
            hue-rotate(50deg)
            brightness(98%)
            contrast(97%);
    padding-right: 10px;
}

.sub-nav>li {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.sub-nav>li img {
    transform: translate(0, -4px);
}

.sub-nav>li:hover, .sub-nav>li:hover a {
    background-color: #D9D9D9;
    border-radius: 5px;
    color: #303030;
    font-weight: 500;
}

.sub-nav>li:hover img {
    filter: invert(16%)
            sepia(0%)
            saturate(1316%)
            hue-rotate(221deg)
            brightness(105%)
            contrast(95%);
}

.sub-nav>li a {
    color: #595959;
    text-decoration: none;
}

/* Intranet Button Section */
.intranet {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-intranet, .btn-intranet:active {
    color: #4285F4;
    text-decoration: none;
    background-color: #fff;
    box-sizing: border-box;
    padding: 5px 30px;
    border-radius: 50px;
    font-family: Anek Devanagari;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.icon_img {
    height: 25px;
    padding-right: 10px;
    align-self: center;
    filter: invert(57%)
            sepia(77%)
            saturate(4675%)
            hue-rotate(202deg)
            brightness(99%)
            contrast(93%);
}

.btn-intranet::after {
    content: "Intranet";
    align-self: center;
    transform: translate(0, 2.5px);
}

.btn-intranet:hover {
    transform: scale(1.1);
}