@import 'src/index.scss';

.eventSection {
    height: 100vh;
    scroll-snap-align: start;
    @include elem-flex ( center, center );

    &>.eventsContainer {
        margin-top: 80px;
        @include elem-size ( 80vw, 80vh );
        @include elem-flex ( center, center );
        flex-direction: column;
        font-style: normal;

        &>h3 {
            font-weight: 800;
            font-size: 3.5vh;
            line-height: 39px;
            color: #595959;
            margin-bottom: 2.5vh;
        }

        &>p {
            font-weight: 400;
            font-size: 1.8vh;
            width: 66vw;
            line-height: 2vh;
            text-align: center;
            color: #000000;
            margin-bottom: 3vh;
        }

        &>.eventsItems {
            @include elem-size ( 90%, 70% );
            @include elem-flex ( center, center );
            flex-wrap: wrap;
            gap: 0;
        }

        &>a {
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            background: var(--yellow);
            margin-top: 2.5vh;
            padding: 10px 50px;
            border-radius: 25px;
            transition: ease-in-out 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}