@import 'src/index.scss';

.carousel {
    @include elem-size( 100%, calc(100vh - var(--header-height)) );
    overflow: hidden;
    position: relative;

    .carousel-inner {
      white-space: nowrap;
      transition: ease 1s;
      @include elem-size();
    }
}
  
  
.carousel-item {
    display: inline-block;
    @include elem-size();
    
    .overlay {
        @include elem-size();
        @include elem-flex(center, center, center);
        gap: 2rem;
        position: absolute;
        top: 0;
        bottom: 0;
        opacity: 0;
        background-color: #000;
        transition: 0.7s ease;
        flex-direction: column;

        .overlay-title {
            @include elem-size(50vw, auto);
            font-size: 5rem;
            color: white;
            text-align: center;
            white-space: normal;
        }

        .overlay-text-content {
            @include elem-size(50vw, auto);
            color: white;
            font-size: 1rem;
            white-space: normal;
        }
    }

    &:hover {
        .overlay {
            opacity: 0.75;
        }
    }

    img {
        @include elem-size( 100%, 100% );
        object-fit: cover;
    }
}

.carousel-control {
    background-color: #000;
    opacity: 0.30;
    border: none;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 50px;
    margin: auto;
    top: 0;
    bottom: 0;
    color: #f3f3f3;
    transition: ease 0.5s;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
        opacity: 0.75;
    }

    img {
        @include elem-size(30px);
        filter: invert(99%)
                sepia(2%)
                saturate(2671%)
                hue-rotate(253deg)
                brightness(117%)
                contrast(100%);
    }
}

.left {
    left: 3%;

    img {
        transform: translateX(-3px);
    }
}

.right {
    right: 3%;

    img {
        transform: translateX(3px);
    }
}

.carousel-indicators {
    position: relative;
    bottom: 8%;
    z-index: 2;
    @include elem-flex(center, center);
    
    .carousel-indicator-item {
        width: 2vh;
        height: 2vh;
        border: 0;
        border-radius: 100%;
        background: #fff;
        opacity: 0.5;
        cursor: pointer;
        margin: auto 1vh;
    }
    
    .active {
        opacity: 1;
    }
}