@import 'src/index.scss';

#main-footer {
    width: 100%;
    background-color: var(--blue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    z-index: 10;

    section {
        width: 100%;

        &:nth-child(2n) {
            background-color: #153EAB;
        }
    }

    .section-content {
        width: 90%;
        min-width: 300px;
        margin: auto;
        padding: 5px 0;

        @media (min-width: 1024px) {
            width: 80%;
            min-width: 950px;
        }
    }

    .main-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        gap: 1.5rem;

        @media (min-width: 576px) {
            display: grid;
            grid-template-areas: 
                "info_sect logo_sect"
                "contact_sect logo_sect";
        }

        @media (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    
    .title {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        display: block;
    }
    
    .sub-title {
        font-size: 0.85rem;
        font-weight: 400;
        margin-bottom: 0.3rem;
    }
    
    .sub-content {
        font-size: 0.75rem;
        font-weight: 300;
        margin-top: 0.3rem;
        margin-bottom: 0.6rem;
        display: block;
    }
}

/* LogoSection */
.logo-sect{
    grid-area: logo_sect;
    border-radius: 100%;
    background-color: #fff;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    &>img {
        height: 110px;
    }
}

/* Links Section */
.info-sect {
    grid-area: info_sect;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;

    @media (min-width: 576px) {
        min-width: 350px;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    @media (min-width: 1024px) {
        width: auto;
        gap: 50px;
    }

    .mainInfo-sect {
        display: flex;
        align-items: flex-start;
        gap: 50px;
    }

    .inicio-sect, .matricula-sect {
        width: 160px;
    }
}

.contact-sect {
    grid-area: contact_sect;
    width: 100%;
    min-width: 300px;

    .title {
        width: 320px;
        margin: auto;
    }

    ul {
        display: flex;
        justify-content: center;
    
        &>div {
            width: 160px;
        }
    }
    
    @media (min-width: 576px) {
        min-width: 350px;
        
        .title {
            width: auto;
        }

        ul {
            justify-content: space-between;
        }
    }

    @media (min-width: 1024px) {
        width: auto;
    }
}

/* Social Media Section */
.social-sect {
    display: flex;
    justify-content: space-between;

    .title {
        text-align: right;
    }

    .sub-title {
        text-align: end;
        display: block;
    }

    .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
    }

    .important_docs {
        width: 370px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        gap: 0.25rem;
    }

    @media (min-width: 576px) {

        .social-icons {
            gap: 2rem;
        }

        .important_docs {
            flex-direction: row;
        }
    }
}

/* Sponsor Section */
.sponsor-section {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;

    ul{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @include responsive(gap, (sm: 2rem, lg: 4rem));
    }

    .main_text {
        font-size: 0.8rem;
        font-weight: 600;
    }

    @media (min-width: 576px) {
        flex-direction: row;

        ul {
            flex-direction: row;
        }
    }
}