#noticias_section {
    width: 100%;

    .hero_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        position: relative;
        padding: 50px;

        .hero_bg_container {
            width: 100%;
            height: 80%;
            position: absolute;
            z-index: 3;
            top: 0;
            overflow: hidden;

            .hero_bg {
                width: calc(100% + 40px);
                object-fit: cover;
                margin: -20px;
                filter: blur(10px);
            }
        }

        .hero_data_container {
            width: clamp(1024px, 90%, 1440px);
            aspect-ratio: 8/3;
            overflow: hidden;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5%;
    
            .hero_data {
                width: 35%;
                display: flex;
                flex-direction: column;
                color: white;
                
                h1 {
                    margin: 1rem 0 0.5rem 0;
                    font-size: 2rem;
                    line-height: 2.2rem;
                }
            }
    
            .hero_img {
                width: 60%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .articleSlider_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        transform: translate(0, -150px);
        background: url(../../../../assets/imgs/institucion/fondoNews.png);
        padding-top: 100px;

        ArticleSlider {
            z-index: 10;
        }
    }

    .news_container {
        width: clamp(1024px, 90%, 1440px);
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        gap: 1rem;
    }
}
