@import 'src/index.scss';

#noticias_section {
    width: 100%;
    background-color: #f7f7f7;

    .hero_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        position: relative;
        padding: 10% 5%;

        .hero_bg_container {
            width: 100%;
            height: 80%;
            position: absolute;
            z-index: 3;
            top: 0;
            overflow: hidden;

            .hero_bg {
                width: calc(100% + 40px);
                height: calc(100% + 40px);
                object-fit: cover;
                margin: -20px;
                filter: blur(10px);
            }
        }

        .hero_data_container {
            width: 100%;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
    
            .hero_data {
                width: 100%;
                display: flex;
                flex-direction: column;
                color: white;
                text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
                
                h1 {
                    margin: 1rem 0 0.5rem 0;
                    font-size: 1.75rem;
                    line-height: 2.2rem;
                    font-style: italic;
                }
            }
    
            .hero_img {
                width: 100%;
                height: 100%;
                aspect-ratio: 4/3;
                object-fit: cover;
            }
        }
    }

    .articleSlider_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        transform: translate(0, -150px);
        background: url(../../../../assets/imgs/institucion/fondoNews.png);
        background-position: 0 25px;
        padding-top: 100px;

        ArticleSlider {
            z-index: 10;
        }
    }

    .search_filter_section {
        width: min(90%, 1440px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translate(0, -100px);

        .filter_container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .filter_btn {
                width: 150px;
                height: 40px;
                border-radius: 20px;
                border: none;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.75rem;
                font-size: 1rem;
                font-weight: 600;
                color: #444;
                background-color: white;

                &:hover {
                    background-color: #ccc;
                }
    
                &:active {
                    background-color: #eee;
                }
            }
        }

        hr {
            width: 100%;
            background-color: #ddd;
        }
    }

    .news_container {
        transform: translate(0, -50px);
        width: min(90%, 1440px);
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 250px);
        grid-template-rows: repeat(auto-fit, 375px);
        gap: 30px;
        place-items: stretch;
    }

    .news_card {
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;
        background-color: white;
        color: #333;

        &:hover {
            transform: scale(1.02);
        }

        img {
            width: 250px;
            height: 150px;
            object-fit: cover;
        }

        .news_card_data_content {
            height: 225px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            padding: 1rem;
            transform: translateY(-5px);
        }

        .news_card_content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1rem;

            h1 {
                font-size: 1rem;
            }

            p {
                font-size: 0.8rem;
            }
        }

        .news_card_info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.75rem;
        }
    }

    @media (min-width: 768px) {
        .hero_container {
            padding: 50px;

            .hero_bg_container {
                height: 66%;
            }

            .hero_data_container {
                .hero_img {
                    aspect-ratio: 16/10 !important;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        .hero_container {
            .hero_bg_container {
                height: 82.5%;
            }

            .hero_data_container {
                width: clamp(1024px, 90%, 1440px);
                flex-direction: row;
                aspect-ratio: 8/3;
                gap: 5%;

                .hero_data {
                    width: 35%;

                    h1 {font-size: 2rem;}
                }

                .hero_img {
                    width: 60%;
                }
            }
        }
    }
}
