html {
    scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-sep {
    height: 80px;
}

body {
    font-family: Inter;
    
    &::-webkit-scrollbar {
        width: 5px;

        &:hover{
            width: 12px;
        }
        
        &:horizontal {
            display: none;
        }
    }

    &::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 5px;
    }
}