@import 'src/index.scss';

#institutionData {
    width: 100vw;
    position: relative;

    #map {
        width: 100%;
        height: calc(100vh - var(--header-height));
        background-color: var(--blue);
    }
}