#reazon_elem {
    border: 1px solid #666;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    transition: all ease 1s;
    background-color: white;

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        cursor: pointer;

        h3 {width: 80%;}

        .expand_btn,
        .expand_btn>i {
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .expand_btn {
            border: none;
            border-radius: 100%;
            background-color: transparent;
            font-size: 1.2rem;
            color: #666;
            cursor: pointer;

            &:hover {
                background-color: #eee;
            }
        }
    }
}