@import 'src/index.scss';

html {
    scroll-snap-type: y mandatory;
    transition: ease 3s;
    scroll-behavior: smooth;
}

/* componentes */
.home-s1, .home-s2 {
    scroll-snap-align: start;
}

.home-s1 {
    height: 100vh;
}