.caption-02 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #666;
    padding: 15px 50px;
    background-color: #f8f9fa;
    border-radius: 25px 25px 0 0;
    border: solid 0.1px #dfe0e1;
    border-bottom: 0;
}

.reports-content {
    margin: 100px 0 50px 0;
}