#selectedNews_section {
    width: 100%;
    background-color: #fafafa;

    header {
        width: 100%;
        position: relative;

        .hero_background {
            width: 100%;
            height: 60%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 1;
        
            img {
                width: calc(100% + 20px);
                height: calc(100% + 20px);
                margin: -10px;
                filter: blur(10px);
            }
        }
        
        .hero_container {
            width: clamp(320px, 90%, 1080px);
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 5;
        }

        .header_style {
            border: #cfcfcf solid 1px;
            background-color: white;
        }

        .hero_img {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
        }

        .news_header {
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            border: #cfcfcf solid 1px;
            border-left: none;
            border-right: none;

            h1 {
                width: 100%;
                font-size: 1.5rem;
                font-style: italic;
                text-align: center;
            }

            p {
                width: 100%;
                text-align: center;
            }
        }

        .news_info_container {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 50px);
            grid-template-areas: 
                "author author"
                "date links";

            .date_info {
                width: 125px;
                font-size: 0.8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                grid-area: date;
                border-right: #cfcfcf solid 1px;
            }

            .author_info {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                font-size: 0.8rem;
                font-weight: 600;
                text-transform: uppercase;
                border: #cfcfcf solid 1px;
                border-top: none;
                border-left: none;
                border-right: none;
                grid-area: author;

                .author_rol {
                    width: 20%;
                    color: #cca75c;
                }

                hr {
                    width: 1px;
                    height: 1.25rem;
                }

                .author_name {
                    color: #666;
                    text-transform: capitalize;
                    font-style: italic;
                }
            }

            .share_social_media {
                width: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                grid-area: links;

                a {
                    width: 20px;
                    height: 20px;
                    font-size: 20px;
                    color: var(--blue);
                }
            }
        }
    }

    article {
        width: clamp(320px, 90%, 1080px);
        padding: 10px;
    }

    .news_footer {
        width: clamp(300px, 80%, 1080px);
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        padding: 1rem;
        border: #cfcfcf solid 1px;
        border-left: none;
        border-right: none;
        position: relative;
        margin-bottom: 50px;

        label {
            position: absolute;
            font-size: 0.8rem;
            top: -0.6rem;
            background-color: #fafafa;
            padding: 0 0.75rem;
        }

        a {
            width: 25px;
            height: 25px;
            font-size: 25px;
            color: var(--yellow);
        }
    }

    @media (min-width: 768px) {
        header {
            .hero_container {margin-top: 50px;}

            .news_header {
                padding: 2rem;

                h1 {
                    width: 90%;
                    font-size: 2rem;
                }

                p {width: 90%;}
            }

            .news_info_container {
                display: flex;
                height: 50px;

                .author_info {
                    border: #cfcfcf solid 1px;
                    border-top: none;
                    border-bottom: none;

                    .author_rol {text-align: right;}
                }

                .date_info {border: none;}
            }
        }
    }
}